.close_button {
  margin: 50px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ff8000;
}

.campo-invalido{
  border-color: #dc3545;
}
.campo-invalido::placeholder{
  color: #dc3545
}
