<div class="bg-light">
  <app-navbar></app-navbar>
  <div
    class="container-md d-flex justify-content-between col-md-12"
  >
    <div class="mt-5 col-md-6">
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">Precisa de ajuda? Fale conosco</h5>
          <form>
            <div class="form-outline mb-4">
              <input type="text" id="form4Example1" class="form-control" />
              <label class="form-label" for="form4Example1">Nome</label>
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="form4Example1" class="form-control" />
              <label class="form-label" for="form4Example1">RA</label>
            </div>
            <div class="form-outline mb-4">
              <input type="email" id="form4Example2" class="form-control" />
              <label class="form-label" for="form4Example2">E-mail</label>
            </div>
            <div class="form-outline mb-4">
              <textarea
                class="form-control"
                id="form4Example3"
                rows="4"
              ></textarea>
              <label class="form-label" for="form4Example3"
                >Descreva seu problema</label
              >
            </div>
            <button type="submit" class="btn btn-block mb-4 btn_default">
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="mt-5 col-md-4">
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">Problema de conexao</h5>
          <p class="card-text">
            Comentario: Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <p class="card-text">Status: Atendido</p>
        </div>
      </div>
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">Equipamento nao liga</h5>
          <p class="card-text">
            Comentario: Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <p class="card-text">Status: Em espera</p>
        </div>
      </div>
    </div>
  </div>
</div>
