<div class="bg-light">
  <app-navbar></app-navbar>
  <div
    class="container-md d-flex justify-content-between col-md-12"
  >
    <div class="mt-5 col-md-6">
      <app-perfil-form></app-perfil-form>
    </div>
    <div class="mt-5 col-md-4">
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">Problema de conexao</h5>
          <p class="card-text">
            Comentario: Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <p class="card-text">Status: Atendido</p>
        </div>
      </div>
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">Equipamento nao liga</h5>
          <p class="card-text">
            Comentario: Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <p class="card-text">Status: Em espera</p>
        </div>
      </div>
    </div>
  </div>
</div>
