<app-navbar pageTitle="Chamados em aberto" [drawer]="drawer"></app-navbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Gerenciamento</p>
    <!-- prettier-ignore -->
    <ul class="list-group list-group-flush" style="border: none;">
      <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action">Coordenadores</a></li>
      <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action">Horários</a></li>
      <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action">Cursos</a></li>
      <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action">Relatório</a></li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-chamados></app-chamados>
  </div>
</mat-drawer-container>
