<div class="container col-md-10 mt-5">
  <div *ngIf="sucesso.status" class="alert alert-success" role="alert">
    {{ sucesso.msg }}
  </div>

  <section *ngIf="mode === 'editar'">
    <select
      #selectCoordenadores
      class="form-select mb-5"
      aria-label="Default select example"
      (change)="getById(selectCoordenadores.value)"
      [(ngModel)]="selectValue"
    >
      <option value="" selected>Selecione o coordenador</option>
      <option *ngFor="let item of coordenadoresDominio" [value]="item.id">
        {{ item.nome }}
      </option>
    </select>
    <mat-divider class="mb-5"></mat-divider>
  </section>

  <section *ngIf="mode === 'incluir' || edicao === true">
    <!-- prettier-ignore -->
    <form [formGroup]="coordenadorForm">
      <div *ngIf="mode === 'incluir'" class="row mb-4">
        <div class="col-md-4">
          <div class="form-outline">
            <input formControlName="nome" type="text" class="form-control" placeholder="Nome" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-outline">
            <input formControlName="email" type="email" class="form-control" placeholder="E-mail" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-outline">
            <input formControlName="senha" type="password" class="form-control" placeholder="Senha" />
          </div>
        </div>
      </div>

      <div *ngIf="mode === 'editar'" class="row mb-4">
        <div class="col-md-5">
          <div class="form-outline">
            <input formControlName="nome" type="text" class="form-control" placeholder="Nome" />
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-outline">
            <input formControlName="email" type="email" class="form-control" placeholder="E-mail" />
          </div>
        </div>
      </div>
    </form>

    <div class="card shadow-sm p-3 mb-5 bg-white rounded mt-5 col-md-12 border-primary">
      <div class="card-header d-flex justify-content-center bg-white border-primary">Horários</div>
      <div class="card-body px-5 py-5">
        <!-- prettier-ignore -->
        <section *ngFor="let escalaForm of formEscala.controls; let index = index">
          <form [formGroup]="$any(escalaForm)">
            <div class="row mb-4">
              <div class="col-md-4">
                <div class="form-outline">

                  <select class="form-select" formControlName="dia">
                    <option value="" selected>Selecione um dia</option>
                    <option *ngFor="let item of diasDominio" [value]="item.dia">{{ item.dia }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-outline">
                  <input type="text" class="form-control" formControlName="horaInicio" placeholder="Horário inicial" mask="00:00" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-outline">
                  <input type="text" class="form-control" formControlName="horaFim" placeholder="Horário final" mask="00:00"/>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-outline mt-2">
                  <mat-icon *ngIf="index !== 0" class="add_icon" fontIcon="remove_circle_outline" (click)="removeEscala(index, escalaForm)"></mat-icon>
                  <mat-icon
                    *ngIf="index === formEscala.controls.length - 1 && formEscala.controls.length <= 5"
                    class="add_icon"
                    fontIcon="add_circle_outline"
                    (click)="addEscala()"
                  ></mat-icon>
                </div>
              </div>
            </div>
          </form>
        </section>

        <div class="d-flex justify-content-center">
          <button
            *ngIf="mode === 'editar'"
            type="button"
            class="btn btn-danger col-md-3"
            (click)="delete()"
          >
            Deletar
          </button>
          <button
            [ngClass]="mode === 'editar' ? 'button_margin' : ''"
            type="button"
            class="btn btn-primary col-md-3"
            (click)="mode === 'incluir' ? submitInclude() : submitEdit()"
          [disabled]="disableButtonSave()"
          >
            {{ mode === "incluir" ? "Cadastrar" : "Salvar" }}
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
