<div class="card shadow-sm p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title">Precisa de ajuda? Fale conosco</h5>
    <form [formGroup]="perfilForm">
      <div class="form-outline mb-4">
        <input formControlName="aluno" type="text" id="form4Example1" class="form-control"  placeholder="Nome" />
      </div>
      <div class="form-outline mb-4">
        <input formControlName="ra" type="text" id="form4Example1" class="form-control" placeholder="RA" />
      </div>
      <div class="form-outline mb-4">
        <select formControlName="curso" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
          <option value="0">Cursos</option>
          <option *ngFor="let curso of cursos" [value]="curso.id">{{curso.curso}}</option>
        </select>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="form4Example1" class="form-control" placeholder="Coordenador" disabled/>
      </div>
      <div class="form-outline mb-4">
        <input formControlName="telefone" type="number" id="form4Example2" class="form-control" placeholder="Telefone" />
      </div>
      <div class="form-outline mb-4">
        <input formControlName="titulo" type="text" id="form4Example2" class="form-control" placeholder="Título" />
      </div>
      <div class="form-outline mb-4">
        <textarea formControlName="descricao" class="form-control" id="form4Example3" rows="4" placeholder="Descreva seu problema..."></textarea>
      </div>
      <button type="submit" class="btn btn-block mb-4 btn_default" (click)="submit()">
        Enviar
      </button>
    </form>
  </div>
</div>
