<app-modal></app-modal>

<div class="container mt-5">
  <div class="row justify-content-around col-md-12">
    <div
      *ngFor="let item of chamadosList"
      class="card text-center col-md-3 mt-3"
    >
      <div class="card-header">{{ item.titulo }}</div>
      <div class="card-body">
        <h5 class="card-title">
          {{ translate.statusTranlation(item.status) }}
        </h5>
        <small>{{ item.data_registro | date : "dd/MM/yyyy" }}</small>
        <p class="card-text">
          {{ item.descricao }}
        </p>

        <div *ngIf="item.status === 1" class="text-end">
          <button
            class="btn btn-primary btn_default"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
            (click)="concluir(item.id, item)"
          >
            Concluir
          </button>
        </div>
        <div *ngIf="item.status === 0" class="text-end">
          <button
            class="btn btn-primary btn_default"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
            (click)="atender(item.id, item)"
          >
            Atender
          </button>
        </div>
      </div>
      <div class="card-footer text-muted">
        {{ espera(item.data_registro) }}
      </div>
    </div>
  </div>
</div>
