.nav_style {
  background-color: #f36717;
}

.menu_icon {
  background-color: transparent;
  border: none;
  position: relative;
  top: 0.7vh;
}

.btn_nav {
  background-color: #f58220;
  border: none;
  color: whitesmoke;
  margin-right: 5px;
}

.link_nav {
  text-decoration: none;
  color: whitesmoke;
  font-family: inherit;
  font-weight: 500;
  position: relative;
  top: 0.1rem;
}
