<nav class="navbar navbar-expand-lg nav_style">
  <div class="container-fluid">
    <div>
      <button
      *ngIf="pageTitle === 'Administrador' || pageTitle === 'Coordenador'"
        class="btn btn-secondary menu_icon"
        (click)="drawer.toggle()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="menu"
        ></mat-icon>
      </button>
      <a
        *ngIf="pageTitle !== 'Administrador' && pageTitle !== 'Coordenador'"
        class="navbar-brand mt-lg-0"
        href="#"
      >
        <img
          src="https://www.anhanguera.com/assets/img/Logo-Anhanguera.svg"
          class="me-2 mt-2 mb-2 "
          height="30"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <a *ngIf="pageTitle === 'Administrador' || pageTitle === 'Coordenador'">
        <img
          src="https://www.anhanguera.com/assets/img/Logo-Anhanguera.svg"
          class="me-2"
          height="30"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <a
        *ngIf="pageTitle !== 'Administrador' && pageTitle !== 'Coordenador'"
        class="link_nav"
        href="/perfil"
        >Abrir chamado</a
      >
    </div>
    <div class="d-flex align-items-center">
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <div *ngIf="logged == false" class="dropdown">
        <a class="navbar-brand" href="login" (click)="sair()">
          <img
            src="../assets/img/box-arrow-in-left.svg"
            class="me-2"
            height="20"
            alt="Icone de login"
            loading="lazy"
          />
        </a>
      </div>
      <div *ngIf="logged" class="dropdown">
        <a class="navbar-brand" href="login" (click)="sair()">
          <small class="text-light px-1 h6">Sair</small>
          <img
            src="../assets/img/box-arrow-in-right.svg"
            class="me-2"
            height="20"
            alt="Icone de logout"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
</nav>
