<nav class="navbar navbar-expand-lg nav_style">
  <div class="container-fluid">
    <button
      *ngIf="pageTitle !== ''"
      class="btn btn-secondary menu_icon"
      (click)="drawer.toggle()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="menu"
      ></mat-icon>
    </button>
    <a class="navbar-brand mt-2 mt-lg-0" href="#">
      <img
        src="https://www.anhanguera.com/assets/img/Logo-Anhanguera.svg"
        class="me-2"
        height="30"
        alt="MDB Logo"
        loading="lazy"
      />
    </a>
    <ul *ngIf="pageTitle !== ''" class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <button class="btn btn-secondary btn_nav" (click)="filtrarLista(3)">Todos os chamados</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-secondary btn_nav" (click)="filtrarLista(0)">Chamados abertos</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-secondary btn_nav" (click)="filtrarLista(1)">Em atendimento</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-secondary btn_nav" (click)="filtrarLista(2)">Concluídos</button>
      </li>
    </ul>
    <div class="d-flex align-items-center" >
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <div *ngIf="logged == false" class="dropdown">
        <a class="navbar-brand" href="login">
          <img
            src="../assets/img/box-arrow-in-left.svg"
            class="me-2"
            height="20"
            alt="Icone de login"
            loading="lazy"
          />
        </a>
      </div>
      <div *ngIf="logged" class="dropdown">
        <a class="navbar-brand" href="login">
          <small class="text-light px-1">Sair</small>
          <img
            src="../assets/img/box-arrow-in-right.svg"
            class="me-2"
            height="20"
            alt="Icone de logout"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
</nav>
