<div class="container-md">
  <app-modal [chamado]="chamado"></app-modal>
  <div class="d-flex justify-content-between mt-5">
    <div *ngFor="let item of chamadosList" class="card text-center col-md-3">
      <div class="card-header">{{ item.title }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ item.status }}</h5>
        <small>{{ item.date | date : "shortDate" }}</small>
        <p class="card-text">
          {{ item.description }}
        </p>

        <div *ngIf="item.status === 'Em atendimento'" class="text-end">
          <button
            style="background-color: #ff8000; color: white"
            class="btn"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
            (click)="concluir(item.id)"
          >
            Concluir
          </button>
        </div>
        <div *ngIf="item.status === 'Aguardando'" class="text-end">
          <button
            style="background-color: #ff8000; color: white"
            class="btn"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
            (click)="atender(item.id)"
          >
            Atender
          </button>
        </div>
      </div>
      <div class="card-footer text-muted">{{ espera(item.id) }}</div>
    </div>
  </div>
</div>
