<div class="d-flex justify-content-center mt-5">
  <div class="card col-md-4 shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form>
        <div class="form-outline mb-4">
          <input type="email" id="form1Example1" class="form-control" />
          <label class="form-label" for="form1Example1">E-mail</label>
        </div>
        <div class="form-outline mb-4">
          <input type="password" id="form1Example2" class="form-control" />
          <label class="form-label" for="form1Example2">Senha</label>
        </div>
        <a href="admin">
          <button
            type="button"
            class="btn btn-block btn_default"
            (click)="validar()"
          >
            Entrar
          </button>
        </a>
        <a href="perfil">
          <button
            type="button"
            class="btn btn-block btn_default"
            (click)="validar()"
          >
            Entrar
          </button>
        </a>
      </form>
    </div>
  </div>
</div>
