.example-container {
  width: 100%;
  height: 100vh;
}

.example-sidenav {
  padding: 10px;
  background-color: #f58220;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.list-group-item {
  border: none;
  background-color: #f58220;
  color: whitesmoke;
}

.list-group-item-action:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.menu_style {
  font-weight: bold;
}
.submenu_style {
  font-size: 0.9rem;
}

.mat-expansion-panel {
  display: inherit;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
  background: #f58221;
}

mat-panel-description{
  color: white;
  font-weight: bold;
}

.mat-drawer.mat-drawer-side{
  z-index: auto;
}
::ng-deep .mat-drawer-content {
  min-height: 86.5vh !important;
}
