<div class="d-flex justify-content-center mt-5">
  <div class="card col-md-4 shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form [formGroup]="loginForm" novalidate>
        <div class="form-outline mb-4">
          <input
            [ngClass]="
              this.loginForm.get('email')?.invalid && formInvalid
                ? 'border-danger'
                : ''
            "
            type="email"
            id="form1Example1"
            formControlName="email"
            class="form-control"
            placeholder="E-mail*"
            (ngModelChange)="formInvalid = false"
          />
        </div>
        <div class="form-outline mb-4">
          <input
            [ngClass]="
              this.loginForm.get('email')?.invalid && formInvalid
                ? 'border-danger'
                : ''
            "
            type="password"
            id="form1Example2"
            formControlName="senha"
            class="form-control campo-obrigatorio"
            placeholder="Senha*"
            (ngModelChange)="formInvalid = false"
          />
        </div>
        <div *ngIf="erro.status" class="alert alert-danger" role="alert">
          {{ erro.msg }}
        </div>

        <button
          type="submit"
          class="btn btn-block btn_default"
          (click)="validaFormulario()"
        >
          Entrar
        </button>
      </form>
    </div>
  </div>
</div>
