<div class="bg-light">
  <app-navbar></app-navbar>
<div class="container-md" style="position: relative;">
  <div class="d-flex justify-content-center mt-5">
    <div class="card col-md-8">
      <div class="card-body">
        <h5 class="card-title">Precisa de ajuda? Fale conosco</h5>
        <form>
          <div class="form-outline mb-4">
            <input type="text" id="form4Example1" class="form-control" />
            <label class="form-label" for="form4Example1">Nome</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="form4Example1" class="form-control" />
            <label class="form-label" for="form4Example1">RA</label>
          </div>
          <div class="form-outline mb-4">
            <input type="email" id="form4Example2" class="form-control" />
            <label class="form-label" for="form4Example2">E-mail</label>
          </div>
          <div class="form-outline mb-4">
            <textarea
              class="form-control"
              id="form4Example3"
              rows="4"
            ></textarea>
            <label class="form-label" for="form4Example3">Descreva seu problema</label>
          </div>
          <div class="form-check d-flex justify-content-center mb-4">
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              id="form4Example4"
              checked
            />
            <label class="form-check-label" for="form4Example4">
              Enviar cópia por e-mail
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <app-modal></app-modal> -->
<!-- <app-footer></app-footer> -->
